header {
	background-color: #C0C0C0; 
}
h1 {
	color: #FFFFFF; /* White */
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}
h2 {
	color: #00008B; /* DarkBlue */
	text-transform: uppercase; 
	font-size: 30px;
}
section {
	background-color: #A9A9A9; /* DarkGray */
}
/* a elements should be centered and have a new font color and background color */
a {
	text-align: center;
	color: #000000; /* Black */
	background-color: #D3D3D3; /* LightGray */ 
	font-weight: bold;
}
img {
	display: none;
}

